<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.datasset.yipandian.client.mapper.TenantMapper">

    <update id="enableAuthorization">
        UPDATE ypd_tenant
        <set>
            status = '0',
            update_time = now(),
            update_user = #{updateUserId},
        </set>
        <where>
            <if test="ids != null">
                and id in
                <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </update>

    <update id="disableAuthorization">
        UPDATE ypd_tenant
        <set>
            status = '1',
            update_time = now(),
            update_user = #{updateUserId},
        </set>
        <where>
            <if test="ids != null">
                and id in
                <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </update>


    <select id="authorizationList" resultType="cn.datasset.yipandian.client.model.user.TenantPO">
        SELECT
        *
        FROM ypd_tenant
        <where>
            and type = '0'
            <if test="tenantDTO.beginTime != null and tenantDTO.endTime != null">
                AND register_time BETWEEN #{tenantDTO.beginTime} AND #{tenantDTO.endTime}
            </if>
            <if test="tenantDTO.unitName!=null and tenantDTO.unitName!=''">
                AND unit_Name LIKE concat("%",#{tenantDTO.unitName},"%")
            </if>
            <if test="tenantDTO.phoneNumber!=null and tenantDTO.phoneNumber!=''">
                AND phone_Number LIKE concat("%",#{tenantDTO.phoneNumber},"%")
            </if>
        </where>
        ORDER BY register_time DESC
    </select>

</mapper>
